:root {
  --background-color: #8ecae6;
  --button: #ffb703;
  --text: #023047;
  --grid: #219ebc;
}



body {
  margin: 0;
  font-family: 'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
